* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.keystore binary

/GrandmaBridge/gradlew text eol=lf
/GrandmaBridge/gradlew.bat text eol=crlf
/GrandmaBridge/gradle/wrapper/gradle-wrapper.jar binary
